@import url('https://fonts.googleapis.com/css?family=Merriweather|Oswald|Slabo+27px');
*{
	box-sizing: border-box;
}
/* Section Styles for Container*/
.flex{
	display: flex;
	flex-direction: column;
}
.container{
	text-align: center; display: flex;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
	height: 100%;
	max-width: 400px;

}
/* Section Styles for top*/
.bkg-top{
	background: #2d3945;
	height: 50px;
	color: white;	
}
.top-tittle{
	margin: auto;
	font: 1.6em 'Oswald', sans-serif;
}
.newsletr{
	border-bottom: 3px solid #2d3945;
	padding: 30px 0 25px;
	margin-bottom: 2px;
}
.newsletr h2{
	font: 1.5em 'Oswald', sans-serif;
	color: #2d3945;
	margin-bottom: 5px;
}
.newsletr-text{
	font: .8em 'Merriweather', serif;
	color: rgba(45,57,69, .8);
}
.cont-tittle{
	font: 1.2em 'Oswald', sans-serif;
	color: #2d3945;
	margin-right: auto;	
	margin-bottom: 25px;
	text-align: left;
}

/* Section Styles for Contact*/
.contact-wrap{
	border-top: 1px solid #2d3945;	
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	background-color: rgba(197,216,178, .1);
}
.flx-dirct{
 display: flex;
 flex-direction: column;
 font: .8em 'Merriweather', serif;
 color: rgba(45,57,69, .9);
}
.flx-dirct label{
	margin-right: auto;	
	margin-bottom: 10px;
}


.flx-dirct input:focus{
	outline: 2px solid #46698b;
	background: rgba(239, 240, 241, .2);
}
.flx-dirct select,
.flx-dirct > input{
	height: 40px;
	background: #eff0f1;
	border: none;
	padding-left: 15px;		
	margin-bottom: 20px;
	border-radius: 5px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	text-align: right;
    color: #adb2b7;
    font-style: italic;
    padding-right: 1em;
}
#user_postcode{
	width: 50%;
	margin-bottom: 40px;
}
/* Section Styles for Newslater*/

.line .right{
	text-align: left;
	margin: 20px 0;
} 
.line{
	border-top: 1px solid #2d3945;
	text-align: left;
	padding-top: 25px;
}
.line legend{
	font: 1.2em 'Oswald', sans-serif;
	color: #2d3945;
	margin: 0 0 8px;

}
.flex-row{
	display: flex;
	font: .8em 'Merriweather', serif;
	color: rgba(45,57,69, .8);
	margin-bottom: 15px;
}
.flex-row label{
	margin-left: 5px;
}
#text_sugest{
	width: 100%;
	height: 80px;
	background: #eff0f1;
    border: none;
    padding-left: 15px;
    border-radius: 5px;
    margin: 20px 0; 
}
button{
	height: 60px;
	width: 100%;
	background: #4fab5b;
	border: none;
	border-radius: 5px;
	color: white;
	font-family: 'Slabo 27px', serif;
	font-size:25px;
}
.copyright{
	color: #adb2b7;
    font-style: italic;
    margin: 25px 0 100px;
}
#user_state:focus{
	outline: 2px solid #46698b;
	background: rgba(239, 240, 241, .2);
}
#text_sugest:focus{
	outline: 2px solid #46698b;
	background: rgba(239, 240, 241, .2);
}
/* Section Styles for Media*/

@media (min-width: 768px){
	.flx-dirct{
		flex-direction: row;
	}
	.flx-dirct:nth-child(-n+5) {
		flex-direction: row;
		justify-content: space-between;
	}

	#user_state{
		width: 80%;
	}
	.container{
		max-width: 600px;
	}
	.flx-dirct label{
	margin-right: 0;
	width: 20%;
	text-align: left;
	}
	.flx-dirct input{
	width: 80%;
	}
	#user_postcode{
		width: 25%;
	}

}